body{

}

hr{
  width: 75%;
  border-width: medium;
  border: 1px solid;
  border-color: #1fb0ff;
}

aside{
  text-align: center;
  margin: 2%;
  width: 15%;
  font-size: 100%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
  /* align-self: flex-end; */
  float: right;
}

 div.gallery { /*All of this code was taken from w3schools.com too */
  margin: 5px;
  float: center;
  width: 25%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.better{
  font-size: 175%;
  width: 100%;
}

.colored{
  font-size: 175%;
  color: #1fb0ff;
  width: 100%;
}

.best{
  font-size: 175%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
  width: 100%;
}

.final{
  text-align: center;
  width: 75%;
  font-size: 150%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
}

.sized{
  max-width: 60%;
  height: auto;
}


.mainH1{
  font-size: 250%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
  align-self: center;
}

#second{
  padding: 2%;
  margin: 0%;
  background-color: #ffea82;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
