body{

}

.better{
  font-size: 175%;
  width: 100%;
}

.colored{
  font-size: 175%;
  color: #1fb0ff;
  width: 100%;
}

.best{
  font-size: 175%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
  width: 100%;
}

.final{
  font-size: 175%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
}


.mainH1{
  font-size: 250%;
  color: #1fb0ff;
  font-family: 'Roboto Slab', serif;
  align-self: center;
}

#second{
  padding: 2%;
  margin: 0%;
  background-color: #ffea82;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
